<!-- <div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<p class="container">home page!</p> -->

<!-- <carousel>
    <div class="carousel-cell">
        <img src="../../assets/images/8t.jpg">
    </div>
    <div class="carousel-cell">
        <img src="../../assets/images/8pro.png" alt="">
    </div>
    <div class="carousel-cell">
        <img src="../../assets/images/iphone12pro.jpg" alt="">
    </div>
</carousel> -->
<div _ngcontent-nis-c68 class="container">
    <br>
    <div _ngcontent-nis-c68="" id="carousel-example-2" data-ride="carousel" class="carousel slide carousel-fade">
        <ol _ngcontent-nis-c68="" class="carousel-indicators">
           <li _ngcontent-nis-c68="" data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
           <li _ngcontent-nis-c68="" data-target="#carousel-example-2" data-slide-to="1" class=""></li>
           <li _ngcontent-nis-c68="" data-target="#carousel-example-2" data-slide-to="2" class=""></li>
        </ol>
        <div _ngcontent-nis-c68="" role="listbox" class="carousel-inner">
           <div _ngcontent-nis-c68="" class="carousel-item ng-star-inserted active" style="height: 500px; width: 100%;">
              <div _ngcontent-nis-c68="" class="view">
                 <img _ngcontent-nis-c68="" alt="First slide" class="d-block w-100" src="../../assets/images/iphone12.png">
                 <div _ngcontent-nis-c68="" class="mask rgba-black-light"></div>
              </div>
              <div _ngcontent-nis-c68="" class="carousel-caption">
                 <h3 _ngcontent-nis-c68="" class="h3-responsive">Apple iPhone</h3>
                 <p _ngcontent-nis-c68="">Explore iPhone, the world's most powerful personal device</p>
              </div>
           </div>
           <div _ngcontent-nis-c68="" class="carousel-item ng-star-inserted" style="height: 500px; width: 100%;">
              <div _ngcontent-nis-c68="" class="view">
                 <img _ngcontent-nis-c68="" alt="First slide" class="d-block w-100" src="../../assets/images/8t.jpg">
                 <div _ngcontent-nis-c68="" class="mask rgba-black-light"></div>
              </div>
              <div _ngcontent-nis-c68="" class="carousel-caption">
                 <h3 _ngcontent-nis-c68="" class="h3-responsive" style="color: black;">Never Settle - OnePlus</h3>
                 <p _ngcontent-nis-c68=""  style="color: black;"> OnePlus creates beautifully designed products with premium build quality &amp; brings the best technology to users around the world</p>
              </div>
           </div>
           <div _ngcontent-nis-c68="" class="carousel-item ng-star-inserted" style="height: 500px; width: 100%;">
              <div _ngcontent-nis-c68="" class="view">
                 <img _ngcontent-nis-c68="" alt="First slide" class="d-block w-100" src="../../assets/images/pixel5.jpeg" >
                 <div _ngcontent-nis-c68="" class="mask rgba-black-light"></div>
              </div>
              <div _ngcontent-nis-c68="" class="carousel-caption">
                 <h3 _ngcontent-nis-c68="" class="h3-responsive">Google Pixel</h3>
                 <p _ngcontent-nis-c68="">Discover a better way to capture, store, and see the world</p>
              </div>
           </div>
           <!---->
        </div>
        <a _ngcontent-nis-c68="" href="#carousel-example-2" role="button" data-slide="prev" class="carousel-control-prev"><span _ngcontent-nis-c68="" aria-hidden="true" class="carousel-control-prev-icon"></span><span _ngcontent-nis-c68="" class="sr-only">Previous</span></a><a _ngcontent-nis-c68="" href="#carousel-example-2" role="button" data-slide="next" class="carousel-control-next"><span _ngcontent-nis-c68="" aria-hidden="true" class="carousel-control-next-icon"></span><span _ngcontent-nis-c68="" class="sr-only">Next</span></a>
     </div>
     <div class="row">
        <div class="col-10 offset-1">
            <br>
            <hr>
            <br>
        </div>
     </div>
     <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-primary" routerLink="products"> See More </a>
        </div>
     </div>
</div>
